.footer {
    background-color: var(--container-color);
    border-top: solid 1px rgba(0, 0, 0, 0.1);

}
.footer__container {
    padding: 2rem 0 6rem;
}

.footer__title,
.footer__link {
    color: #fff;
}

.footer__title {
text-align: center;
margin-bottom: var(--mb-2);
}
.footer__link:hover {
    color: #fff;
}
.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer__socials {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;

}
.footer__social-link {
    background-color: #fff;;
    color: var(--container-color);
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
    .footer__social-link:hover {
       background: var(--title-color);
    }
.footer__copy {
    display: block;
    margin-top: 4.5rem;
   padding-bottom: 3.2rem;
    color: #fff;
    text-align: center;
    font-size: var(--small-font-size);
}